<link rel="stylesheet" href="/css/header.css">

<div class="nav">
    <div class="title"> 
        <a href="/">Habit Tracker</a>
    </div>
    
    <% if (locals.user){ %>
            <div class="nameOfUser">Welcome <%= locals.user.name%>  </div>
            <div class="logOut"> <a href="/users/sign-out" > LogOut </a> </div>
            
        <%} else { %>
            <div class="noUser">
                <ul>
                    <li> <a href="/users/sign-in"> Sign-In </a> </li>
                    <li> <a href="/users/sign-up"> Sign Up </a> </li>
                </ul>
            </div>
        
        <%}%>   

</div>