<link rel="stylesheet" href="/css/forget_password.css">

<div class="changeP">
    <h1>Reset Password</h1>
    <form action="/users/reset-password" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="New Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm New Password" required>
        <button>Change Password</button>
    </form>
</div>