<!DOCTYPE html>

<html>

<head>
    <title><%= title%></title>
</head>


<body>
    <!-- <%- include('_header'); %> -->

    <main id="layout-main">
        <%- body %>

    <!-- <%- include('_footer'); %> -->
</body>

</html>