<!DOCTYPE html>

<html>

<head>
    <title><%= title%></title>
    <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script>
</head>


<body>
    <!-- <%- include('_header'); %> -->

    <main id="layout-main">
        <%- body %>

    <!-- <%- include('_footer'); %> -->
</body>

</html>