body {
    margin: 0;
    background-image: url(../img/repair.jpg);
    background-repeat: no-repeat;
    background-size: 110vh 105vh;
}


.changeP{
    margin-left: 60%;
    margin-right: 50px;
    margin-top: 5%;
    height: 480px;
    background-color: rgb(202, 238, 186);
    border-radius: 10%;
    text-align: center;
    padding: 2%;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.form {
    display: flex;
    flex-direction: column;
}
input{
	width: 60%;
	height: 20px;
	/* background: #e0dede; */
	/* justify-content: center; */
	display: flex;
	margin: 10px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	/* justify-content: center; */
	/* display: block; */
	color: #fff;
	background-color: rgb(130, 189, 107);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em rgb(130, 189, 107);
  transform: translateY(-0.25em);
}